.block1 {
  background-image: radial-gradient(circle at 0 0, rgb(0, 196, 196), rgb(0, 183, 183) 32%, rgb(0, 173, 173) 68%, rgb(0, 156, 156)), linear-gradient(rgb(0, 196, 196), rgb(0, 196, 196));

  &__img {
    margin-left: -10px;
    @include mobile-p {
      width: 100%;
    };
  }

  &__info {
    width: 480px;
    font-family: Raleway, sans-serif;
    line-height: 27px;
    color: rgb(255, 255, 255);
    @include mobile-p {
      width: 100%;
    };

    &-title {
      font-size: 90px;
      font-weight: bold;
      @include mobile-p {
        font-size:60px;
      };
    }

    &-text {
      font-size: 17px;
      font-weight: 300;
    }
  }
}

.container1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  @include mobile-p {
    display: block;
    height: 100%;
  };
}
