// Settings
$tablet-p-width: 768px;
$tablet-l-width: 1024px;
$desktop-width: 1200px; // Mixins
@mixin tablet-min {
	 @media (min-width: #{$tablet-p-width}){
		@content;
	}
}
@mixin tablet-landscape-min {
	 @media (min-width: #{$tablet-l-width}){
		@content;
	}
}
@mixin desktop-min {
	 @media (min-width: #{$desktop-width}){
		@content;
	}
}
@mixin retina {
	 @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
		@content;
	}
}
// Extra small devices (portrait phones, less than 576px)
@mixin mobile-p {
	 @media (max-width: 575px){
		@content;
	}
}
// Small devices (landscape phones, 576px and up)
@mixin mobile-l {
	@media (min-width: 576px) and (max-width: 767px) {
		@content;
	}
}

// Medium devices (tablets, 768px and up)
@mixin tablet-p {
	@media (min-width: 768px) and (max-width: 991px) {
		@content;
	}
}

// Large devices (desktops, 992px and up)
@mixin desktop-small {
	@media (min-width: 992px) and (max-width: 1199px) {
		@content;
	}
}

// Extra large devices (large desktops, 1200px and up)
@mixin desktop-large {
	@media (min-width: 1200px) {
		@content;
	}
}
