* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @include mobile-p {
    width: 100%;
  };
  @include tablet-p {
    width: 100%;
  };
}
