@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900');
* {
  box-sizing: border-box;
}

body {}

a {
  text-decoration: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
  background: url(../img/header-bg.jpg) no-repeat 100% 0;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(38, 38, 38);
  line-height: 25px;
}

.nav__logo {
  font-family: Pacifico, sans-serif;
  font-size: 50px;
  color: rgb(38, 38, 38);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 557px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
}

.menu__item {
  position: relative;
  transition: all 1s ease-out;
}

.menu__item:hover .menu__link--line::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: rgb(255, 96, 51);
}

.menu__link {
  color: rgb(38, 38, 38);
}

.header__info {
  margin-top: 283px;
  width: 370px;
  font-family: Raleway, sans-serif;
  color: rgb(38, 38, 38);
}

.header__info-title {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  line-height: 25px;
}

.header__info-text {
  margin: 34px 0 31px;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

.header__info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 96, 51);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.header__info-button-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}


/*block1*/

.block1 {
  background-image: radial-gradient(circle at 0 0, rgb(0, 196, 196), rgb(0, 183, 183) 32%, rgb(0, 173, 173) 68%, rgb(0, 156, 156)), linear-gradient(rgb(0, 196, 196), rgb(0, 196, 196));
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}

.block1__img {
  margin-left: -10px;
}

.block1__info {
  width: 480px;
  font-family: Raleway, sans-serif;
  line-height: 27px;
  color: rgb(255, 255, 255);
}

.block1__info-title {
  font-size: 90px;
  font-weight: bold;
}

.block1__info-text {
  font-size: 17px;
  font-weight: 300;
}


/*block2*/

.block2 {
  background: #70bfff;
}

.container2 {
  padding-top: 180px;
  height: 790px;
  background: url(../img/block2.png) no-repeat 100% 50%;
}

.block2__menu {
  display: inline-block;
  width: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  vertical-align: top;
}

.block2__item {
  display: flex;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  height: 100px;
}

.block2__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: Raleway, sans-serif;
  color: #262626;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.block2__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-grow: 0;
  min-width: 100px;
  border-left: 1px solid rgb(157, 157, 157);
}

.block2__text {
  display: inline-block;
  margin: 0;
  padding-top: 173px;
  padding-left: 220px;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
  text-align: right;
}


/*block3*/

.block3 {
  background: #ffe92f;
}

.container3 {
  height: 1536px;
  font-family: Raleway, sans-serif;
  color: #262626;
  text-align: center;
}

.block3__title {
  color: #262626;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
}

.block3__text {
  width: 577px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

.block3__gallery {
  margin-top: 45px;
}

.block3__gallery-img {
  margin-bottom: 30px;
  background: #00c4c4;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.row-photo {
  margin-left: 0;
}

.block3__button {
  width: 200px;
  height: 55px;
  margin-top: 20px;
  background: #5585a2;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border: none;
}
.block3__button-text {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;

}

/*block4*/
.block4 {
  background: url(../img/block4.jpg) no-repeat 50% 50%;
}
.container4 {
  height: 500px;
  font-family: Raleway, sans-serif;
}
.block4-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 145px 0 163px;
}
.block4__text {
  width: 540px;
}
