@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 575px) {
    .container {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 100%; } }

.header {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
  background: url("../img/header-bg.jpg") no-repeat 100% 0;
  background-size: cover; }
  .header__info {
    margin-top: 283px;
    width: 370px;
    font-family: Raleway, sans-serif;
    color: #262626; }
    @media (max-width: 575px) {
      .header__info {
        margin-top: 405px;
        width: 100%; } }
    .header__info-title {
      margin: 0;
      font-size: 60px;
      font-weight: 900;
      line-height: 25px; }
    .header__info-text {
      margin: 34px 0 31px;
      font-size: 17px;
      font-weight: 300;
      line-height: 27px; }
    .header__info-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 55px;
      border: none;
      padding: 0;
      margin: 0;
      background-color: #ff6033;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      cursor: pointer; }
      .header__info-button-text {
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        text-transform: uppercase; }

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #262626;
  line-height: 25px; }
  .nav__logo {
    font-family: Pacifico, sans-serif;
    font-size: 50px;
    color: #262626; }

.fa {
  display: none; }
  @media (max-width: 575px) {
    .fa {
      display: block;
      font-size: 28px; } }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 557px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none; }
  @media (max-width: 575px) {
    .menu {
      display: none; }
      .menu.active {
        display: flex;
        position: absolute;
        top: 35px;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        height: 250px; } }
  .menu__item {
    position: relative;
    transition: all 1s ease-out; }
    .menu__item:hover .menu__link--line::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background: #ff6033; }
  .menu__link {
    color: #262626; }

.block1 {
  background-image: radial-gradient(circle at 0 0, #00c4c4, #00b7b7 32%, #00adad 68%, #009c9c), linear-gradient(#00c4c4, #00c4c4); }
  .block1__img {
    margin-left: -10px; }
    @media (max-width: 575px) {
      .block1__img {
        width: 100%; } }
  .block1__info {
    width: 480px;
    font-family: Raleway, sans-serif;
    line-height: 27px;
    color: white; }
    @media (max-width: 575px) {
      .block1__info {
        width: 100%; } }
    .block1__info-title {
      font-size: 90px;
      font-weight: bold; }
      @media (max-width: 575px) {
        .block1__info-title {
          min-width: 442px; } }
    .block1__info-text {
      font-size: 17px;
      font-weight: 300; }

.container1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px; }
  @media (max-width: 575px) {
    .container1 {
      display: block;
      height: 100%; } }

.block2 {
  background: #70bfff; }
  .block2__menu {
    display: inline-block;
    width: 400px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    vertical-align: top; }
  .block2__item {
    display: flex;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    height: 100px; }
    .block2__item-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font-family: Raleway, sans-serif;
      color: #262626;
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
      text-align: center; }
    .block2__item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      flex-grow: 0;
      min-width: 100px;
      border-left: 1px solid #9d9d9d; }
  .block2__text {
    display: inline-block;
    margin: 0;
    padding-top: 173px;
    padding-left: 220px;
    font-family: Raleway, sans-serif;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    text-align: right; }
    @media (max-width: 575px) {
      .block2__text {
        padding: 0;
        font-size: 75px;
        padding: 40px 0;
        line-height: 1;
        text-align: left; } }

.container2 {
  padding-top: 180px;
  height: 790px;
  background: url("../img/block2.png") no-repeat 100% 50%; }
  @media (max-width: 575px) {
    .container2 {
      height: 100%; } }

.container3 {
  height: 1536px;
  font-family: Raleway, sans-serif;
  color: #262626;
  text-align: center; }
  @media (max-width: 575px) {
    .container3 {
      height: 100%; } }

.block3 {
  background: #ffe92f; }
  .block3__title {
    color: #262626;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
    padding: 50px 0; }
    @media (max-width: 575px) {
      .block3__title {
        margin: 0;
        padding: 20px 0;
        line-height: 1; } }
  .block3__text {
    width: 577px;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px; }
    @media (max-width: 575px) {
      .block3__text {
        width: 100%; } }
  .block3__gallery {
    margin-top: 45px; }
    .block3__gallery-img {
      margin-bottom: 30px;
      background: #00c4c4;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5); }
      @media (max-width: 575px) {
        .block3__gallery-img {
          width: 100%; } }
      @media (max-width: 575px) {
        .block3__gallery-img--small {
          height: 100%; } }
  .block3__button {
    width: 200px;
    height: 55px;
    margin-top: 20px;
    background: #5585a2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    border: none; }
    @media (max-width: 575px) {
      .block3__button {
        margin: 40px 0; } }
    .block3__button-text {
      font-family: Raleway, sans-serif;
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase; }

.row-photo {
  margin-left: 0; }

.container4 {
  height: 500px;
  font-family: Raleway, sans-serif; }

.block4 {
  background: url("../img/block4.jpg") no-repeat 50% 50%; }
  .block4-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 145px 0 163px; }
    @media (max-width: 575px) {
      .block4-content {
        padding: 0; } }
  .block4__text {
    width: 540px; }
    @media (max-width: 575px) {
      .block4__text {
        width: 100%; } }
  .block4__form {
    display: flex;
    justify-content: center;
    align-self: flex-start; }
    @media (max-width: 575px) {
      .block4__form {
        flex-direction: column;
        width: 100%; } }
    .block4__form-input {
      width: 570px;
      height: 55px;
      padding: 22px 15px;
      color: #262626;
      border: solid 1px #262626; }
      @media (max-width: 575px) {
        .block4__form-input {
          width: 100%; } }
      .block4__form-input::placeholder {
        font-size: 15px;
        font-weight: 300;
        line-height: 27px;
        color: rgba(38, 38, 38, 0.5); }
    .block4__form-button {
      margin-left: 30px;
      padding: 0;
      width: 170px;
      height: 55px;
      background: #96b92c;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      border: none; }
      @media (max-width: 575px) {
        .block4__form-button {
          margin: 20px 0; } }
      .block4__form-button-text {
        font-family: Raleway, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        text-transform: uppercase; }

.container5 {
  height: 864px;
  font-family: Raleway, sans-serif; }
  @media (max-width: 575px) {
    .container5 {
      height: 100%; } }

.block5 {
  background: #b07cf7; }
  .block5__info {
    color: white;
    text-align: center; }
    .block5__info-title {
      font-size: 90px;
      font-weight: bold;
      line-height: 25px; }
      @media (max-width: 575px) {
        .block5__info-title {
          margin: 0;
          padding: 50px 0; } }
    .block5__info-text {
      margin: 0 auto;
      width: 563px;
      font-size: 17px;
      font-weight: 300;
      line-height: 25px; }
      @media (max-width: 575px) {
        .block5__info-text {
          width: 100%; } }
  .block5__gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    margin-top: 45px; }
    @media (max-width: 575px) {
      .block5__gallery {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
        margin-right: 15px; } }
    .block5__gallery--1 {
      background: url("../img/block5-1.jpg") no-repeat 50% 50%; }
      @media (max-width: 575px) {
        .block5__gallery--1 {
          background-size: cover; } }
    .block5__gallery--2 {
      background: url("../img/block5-2.jpg") no-repeat 50% 50%; }
      @media (max-width: 575px) {
        .block5__gallery--2 {
          background-size: cover; } }
    .block5__gallery--3 {
      background: url("../img/block5-3.jpg") no-repeat 50% 50%; }
      @media (max-width: 575px) {
        .block5__gallery--3 {
          background-size: cover; } }
    .block5__gallery-date {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 30px;
      width: 60px;
      height: 60px;
      line-height: 25px;
      color: white;
      text-transform: uppercase;
      border-radius: 5px;
      background: rgba(38, 38, 38, 0.5); }
      .block5__gallery-date-day {
        font-size: 32px;
        font-weight: bold; }
      .block5__gallery-date-mounth {
        font-size: 21px;
        font-weight: 900; }
    .block5__gallery-text {
      padding: 0 50px 23px 20px;
      line-height: 25px;
      color: white; }
    .block5__gallery-title {
      font-size: 20px;
      font-weight: bold; }
    .block5__gallery-author {
      font-size: 13px;
      font-weight: 300; }
  .block5__button {
    display: block;
    margin: 50px auto 0;
    width: 200px;
    height: 55px;
    background: #f72b3b;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    border: none; }
    @media (max-width: 575px) {
      .block5__button {
        margin: 50px auto; } }
    .block5__button-text {
      font-family: Raleway, sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      color: white;
      text-transform: uppercase; }

.container6 {
  height: 866px;
  font-family: Raleway, sans-serif; }

.block6 {
  background: url("../img/block6-bg.jpg") no-repeat 50% 50%;
  background-size: cover; }
  .block6__info {
    text-align: center;
    color: #262626;
    line-height: 25px; }
    .block6__info-title {
      font-size: 90px;
      font-weight: 700; }
      @media (max-width: 575px) {
        .block6__info-title {
          margin: 0;
          padding: 50px 0; } }
    .block6__info-text {
      width: 350px;
      font-size: 17px;
      font-weight: 300;
      margin: 0 auto; }
      @media (max-width: 575px) {
        .block6__info-text {
          width: 100%; } }
  .block6__content {
    display: flex;
    margin-top: 45px; }
    @media (max-width: 575px) {
      .block6__content {
        flex-wrap: wrap; } }
  .block6__form {
    display: flex;
    flex-direction: column; }
    @media (max-width: 575px) {
      .block6__form {
        width: 100%; } }
    .block6__form-input {
      width: 500px;
      height: 50px;
      padding: 20px;
      margin-bottom: 15px;
      background: #00c4c4;
      color: #fff;
      border: none;
      font-size: 15px;
      font-weight: bold; }
      @media (max-width: 575px) {
        .block6__form-input {
          width: 100%; } }
      .block6__form-input::placeholder {
        font-size: 15px;
        font-weight: 300; }
      .block6__form-input:focus {
        border-left: 5px solid #355b82; }
      .block6__form-input-textarea {
        height: 250px;
        resize: none; }
  .block6__contacts {
    padding-left: 170px; }
    @media (max-width: 575px) {
      .block6__contacts {
        padding: 0; } }
  .block6__contact {
    margin-bottom: 10px;
    line-height: 25px;
    color: #262626; }
    .block6__contact-title {
      margin: 0;
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase; }
    .block6__contact-text {
      font-size: 20px;
      font-weight: 300; }

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  color: #b9b9b9;
  line-height: 25px; }
  @media (max-width: 575px) {
    .container-footer {
      flex-wrap: wrap; } }

.footer {
  background: #262626;
  font-family: Raleway, sans-serif; }
  .footer__copyright {
    font-size: 16px;
    font-weight: 300; }
  .footer__logo {
    font-family: Pacifico, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #ff2b58; }
  .footer__link {
    color: #ff2b58;
    font-size: 15px;
    font-weight: 700; }

/*# sourceMappingURL=main.css.map */
